
#links{
    padding-top: 15px;
    width: 330px;
    float: left;
    padding-left: 60px;
    /*border: solid black 1px;*/
}

#createaccount{
    font-size: 30px;
    color: black;
}

#imgs{
    width: 420px;
    float: left;
    /*border: solid black 1px;*/
}

#homepage{
    margin-left: auto;
    margin-right: auto;
    padding-top: 160px;
    padding-left: 40px;
    padding-bottom: 60px;
    width: 80%;
    height: 350px;
    /*border: solid black 1px;*/
}

#createaccountsection{
    width: 215px;
    float: left;
    margin-top: -15px;
    padding-bottom: 30px;
    /*border: solid black 1px;*/
}

.center{
    margin-top: 100px;
    font-size: 50px;
    text-decoration: none;
    color: black;
    border-bottom: 2px dotted;
}

.center:visited{
    color:black;
}

#footer{
    border-style: none;
    float: left;
    padding-top: 10px;
    background-color: transparent;
    /*border: solid black 1px;*/
}

#editaccountsection{
    width: 100%;
    /*float: left;*/
    margin-left: 0px;
    /*padding-bottom: 30px;*/
    /*border: solid black 1px;*/
    font-size: 19px;
}

#editaccount{
    margin-top: 20px;
    margin-left: 110px;
    font-size: 30px;
    padding-left: 20px;
}

/*Login Modal*/
    #loginModal{
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #modalBackground{
        padding-top: 100px;
        padding-bottom: 100px;
        background: rgba(0, 0, 0, .7);
        height: 100%;
        width: 100%;
    }

    #modalForm{
        width: 350px;
        height: 500px;
        background-color: #6b4377;
        font-size: 25px;
        padding-left: 50px;
        padding-top: 30px;
        margin-left: 37%;
    }
    #modalForm * {
        margin-bottom: 20px;
    }

    #submitButton{
        border-radius: 15px;
    }
    #submitButton:hover{
        background: #adabab;
    }
    #submitButton:active{
        background: #a39f9f;
    }

    #closeModal{
        position: relative;
        left: 370px;
        bottom: 300px;
        text-decoration: none;
        opacity: .3;
    }
    #closeModal:visited{
        color: black;
    }
    #closeModal:hover{
        opacity: 1;
    }
/*#container{
    width: 60%;
    height: 100%;
    border: solid black 2px;
    margin-left: 20%;
}*/

* {
    position: relative;
    z-index: 0;
}

#leftColumn{
    float:left;
}

#content * {
    margin-left: 1%;
}

#rightColumn{
    float:right;
    margin-right: 2%;
}

#submitbutton{
    margin-left: 40px;
}